@charset "utf-8";


@media (min-width:1200px){

 /* body {overflow: hidden;} */
 /* 스크롤 */
 .container {
    width: 11700px; height: calc(195vh - 62%);
    position:absolute; bottom:0;
    /* background: -webkit-gradient(linear, left top, right top, from(#FCB48D), color-stop(20%, #FCB48D), color-stop(20%, #FCA17D), color-stop(40%, #FCA17D), color-stop(40%, #DA627D), color-stop(60%, #DA627D), color-stop(60%, #9A348E), color-stop(80%, #9A348E), color-stop(80%, #782B7F), to(#782B7F));
    background: linear-gradient(to right, #FCB48D 0%, #FCB48D 20%, #FCA17D 20%, #FCA17D 40%, #DA627D 40%, #DA627D 60%, #9A348E 60%, #9A348E 80%, #782B7F 80%, #782B7F 100%); */
    padding:60px; display:flex; flex-wrap:wrap; }

  p {position: fixed; top:0; left:0; width:100px; height:20px; text-align:center; display:none;}
 /* 스크롤 */

  #top_box {width:100%; height: 55%; margin:0 auto;}
  #top_box h1 {font-size:65px; text-align:center; font-family:'Montserrat', sans-serif; color:#fff; 
                text-transform:uppercase; letter-spacing:15px; font-weight: 600; 
                top:33%; left:50%; transform:translate(-50%,-50%); position: absolute; }
  
  .sub_title {width:900px; height:480px; margin-left:1000px; padding:170px; }
  .sub_title h1 {font-size:33px; color:#000; text-align:center; font-family:'Montserrat', sans-serif; font-weight:500; 
                 line-height:40px; display:inline-block;}
  .fas {color:#000; font-size:30px;display:flex; justify-content:center; align-items:center; 
        margin-left:-75px; margin-top: -90px;}
  .container .img_box {width:400px; height:470px; position:relative; margin-top:-40px;}   
  .container img {width:300px; height:439px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
  .container h2 {font-size:22px; color:#000; text-align:center; font-weight:500; 
                 font-family:'Montserrat', sans-serif; margin-top:475px; }



    /* 하단 */
  
    #f_box {width:100%; height:300px; background-color: #000; display:flex; flex-wrap:wrap-reverse; }
    .f_info {width:100%; height:300px; background-color: red; }

    /* 하단 */
       

  }