@charset "utf-8";


@media (min-width:1200px){

  body {width:100%; height:609.8vh; background:url(../img/sub_disney/sub_disney_top.jpg) center center/100% 100vh no-repeat fixed; 
  position:relative;}

  #top_box {width:100%; height:100vh; margin:0 auto; }
  #top_box h1 {font-size:65px; text-align:center; font-family:'Montserrat', sans-serif; color:#fff; 
                text-transform:uppercase; letter-spacing:15px; font-weight: 800 !important; 
                top:10%; left:50%; transform:translate(-50%,-50%); position: absolute; }
  #sub_page {width:80%; height:100vh; position:absolute; top:200vh;}
  #sub_page_2 {width:100%; height:900px; background:url(../img/sub_disney/p_disney.jpg) center; position: sticky; bottom:0; z-index:10; }
  #sub_page_3 {width:100%; height:900px; background:url(../img/sub_disney/p_disney_2.jpg) center; position: sticky; bottom:0; z-index:7;}
  #sub_page_4 {width:100%; height:900px; background:url(../img/sub_disney/p_disney_3.jpg) center; position: sticky; bottom:0; z-index:6;}
  #sub_page_5 {width:100%; height:900px; background:url(../img/sub_disney/p_disney_4.jpg) center; position: sticky; bottom:0; z-index:5;
              display:flex; flex-direction: row;}  
  

  /* 마우스 스크롤 */
  .scrollDown::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: point 2s infinite;
    -webkit-animation: point 2s infinite;}

  .scrollDown::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 50%;
      opacity: 1;
      animation: point 2s infinite;
      -webkit-animation: point 2s infinite;}

  .scrollDown{width: 35px; height: 55px; border: 3px solid #fff; border-radius: 60px; 
          position: fixed;  right:2.5%; bottom:5%; }
  .scrollDown::before{content: ''; width: 8px; height: 8px; position: absolute; top: 10px; left: 50%; 
    transform: translateX(-50%); background-color: #fff; border-radius: 50%; opacity: 1; 
    animation: point 2s infinite; -webkit-animation: point 2s infinite;}
   @keyframes point{to{opacity: 0; top: 35px;}}
   @-webkit-keyframes point{to{opacity: 0; top: 35px;}}

  /* 마우스 스크롤 */

  #sub_page_2 h1 { font-family:'Montserrat', sans-serif; font-weight: 500 !important; color:#fff; font-size:75px; padding-top:65px; margin-left:80px;}
  #sub_page_2 h3 { font-family: 'Barlow', sans-serif; color:#191919; font-size:12px; text-align:right; margin-right:1.8%;
      margin-top:140px;  letter-spacing: 1px; text-transform: uppercase; font-weight:700 !important; }
  #sub_page_2 p { font-family: 'GowunBatang-Regular'; color:#fff; font-size:21px;  line-height: 24px;
     letter-spacing: 1px; transform: translate(6.5%,27%);} 
  .first_box {width:100%; height:380px; margin-top:40px; display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-end;}
  .first_box img:first-of-type { width:330px; height:220px; margin:153px -55px;}
  .first_box img:nth-of-type(2) { width:530px; height:353px; margin:20px 70px;}


  #sub_page_3 h3 { font-family: 'Barlow', sans-serif; color:#191919; font-size:12px; text-align:right; 
   letter-spacing: 1px; text-transform: uppercase; font-weight:700 !important; margin-right:1.8%;}
  .nth_2box {width:100%; height:440px; display:flex; justify-content: center; align-items: flex-end;  }
  .nth_2box img { width:85%; height:260px; }
  .nth_2_2box {width:100%; height:380px;  }
  .h_b { width:100%; height:90px; margin-top:50px; }
  .p_b { width:100%; height:200px;}
  .h_b h1 { font-family:'Montserrat', sans-serif; font-weight: 500 !important; color:#fff; font-size:75px; 
           transform: translate(7.4%,5%);}
  .p_b p { font-family: 'GowunBatang-Regular'; color:#fff; font-size:21px; line-height:24px; letter-spacing:1px;
           transform: translate(7.8%,5%);}  

          
  #sub_page_4 h3 {font-family: 'Barlow', sans-serif; color:#191919; font-size:12px; text-align:right; 
    letter-spacing: 1px; text-transform: uppercase; font-weight:700 !important; margin-right:1.8%; margin-top:30px;}
  .nth_3box {width:100%; height:420px;  }
  .nth_3box img {width:560px; height:262px; transform: translate(20%,60%);}

  .nth_3_2box {width:100%; height:420px; display:flex; flex-wrap: wrap; }
  .nth_3_2box img {width:263px; height:262px; transform: translate(42.5%,5%); display:inline-block;}
  .nth_3_2box h1 {font-family:'Montserrat', sans-serif; font-weight: 500 !important; color:#fff; 
            font-size:60px; transform: translate(21.5%,30%); }
  .nth_3_2box p {font-family: 'GowunBatang-Regular'; color:#fff; font-size:21px; line-height:24px; letter-spacing:1px;
               transform: translate(57.5%,-73%);}

  .nth_4box {width:45%; height:100%; display:flex; flex-direction:column; justify-content:center; 
       align-items:center;   }
  .nth_4box img:first-of-type {width:580px; height:310px;}
  .nth_4box img:nth-of-type(2) {width:580px; height:310x;  margin-top:15px;}
  .nth_4_2box {width:55%; height:100%;}
  .nth_4_2box h1 {font-family:'Montserrat', sans-serif; font-weight: 500 !important; color:#fff; 
    font-size:75px; transform: translate(0%,360%);}
   .nth_4_2box h2 {font-family:'Montserrat', sans-serif; font-weight: 500 !important; color:#fff; 
      font-size:45px; transform: translate(0%,330%);}
  .nth_4_2box p {font-family: 'GowunBatang-Regular'; color:#fff; font-size:21px;  line-height: 24px;
    letter-spacing: 1px; transform: translate(0%,112%);}
  .nth_4_2box h3 {font-family: 'Barlow', sans-serif; color:#191919; font-size:12px; text-align:right; margin-top:420px;
    letter-spacing: 1px; text-transform: uppercase; font-weight:700 !important; margin-right:1.8%;}

 
    /* 하단 */
  
     #f_box {width:100%; height:240px; background-color: #000; 
            display:flex; flex-direction: column; position:absolute; bottom:0px;}
    .s_info {width:100%; height:140px; }
    .s_info img {top:30%; left:50%; transform:translate(-50%,-50%); position:absolute;}
    .s_info img:hover {cursor:pointer;}

    .sns_icon {width:100%; height:40px; margin-top:92px; display:flex; 
              display:flex; justify-content:center; align-items:center; }
    .sns_icon .fab,.fas {color:#555454; font-size:18px; margin:15px;}
    .sns_icon .fab:hover,.fas:hover {color:#fff; cursor:pointer; transition:0.4s;}
    
    .f_info {width:100%; height:95px; text-align: center; padding:0px;}
     #info_c {display:flex; flex-flow:row; justify-content: center; }
    .f_info span {font-size:15px; font-family:'Barlow'; color:#555454; letter-spacing:2px; 
                 margin:4px; transition:0.8s; }
    .f_info span:hover {cursor:pointer;color:#fff;}
    .f_info p {font-size:12px; font-family:'Barlow'; color:#555454; text-align: center; margin-top:8px; letter-spacing:2px;}
    
    /* 하단 */


       

  }